@import url('https://fonts.googleapis.com/css?family=Sacramento|Josefin+Slab|Catamaran|Montserrat');

.secciones{
   padding-top: 70px;
 }
 .fondo{
  background-size: cover;
  background-position: center;
}
/*nav*/
nav .fa{
  margin-right: 2%
}
.logo{
  font-family: 'Sacramento', cursive;
  font-size: 3.5vh;
  font-weight: bold;
}
.logo .fa{
  margin-left: 1%;
}
a.navbar-brand.logo{
  width: 25vw;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand,.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: #fff;
}
nav .container-fluid{
  background-color: rgba(54, 76, 162, .9);
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
background-color: #3463D3;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  color: white;
  background-color: #F5C606;
  font-weight: bold;
}
/*portada*/
.portada{
  background-image: url("../assets/img/azul-amarillo.jpg");
  background-attachment: fixed;
  height: 100vh;
}
.nombre{
  font-family: 'Sacramento', cursive;
  font-size: 17vh;
  margin-top: 17vh;
  color: #0F1E36;
  font-weight: bold;
}
.devp{
  font-family: 'Josefin Slab', serif;
  font-size: 6vh;
  color: #0485A3;
  font-weight: bold;
}
/*acerca de mi*/
.acerca{
  background-color: #FDCD00;
  background-image: url("../assets/img/amarillo.jpeg");
  background-size: cover;
  background-position: top;
  padding: 8vh 0;
}
.titulo{
  font-family: font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 8vh;
}
.titulo-azul{
  color: #0485A3;
}
.foto{
  border-radius: 50%;
  filter: grayscale(20%);
  width: 30vh;
  margin: 6% 0;
}
.texto{
  font-family:font-family: 'Catamaran', sans-serif;
  font-size: 3vh;
  font-weight: bold;
}
.texto.azul{
  color: #0485A3;
}
/*habilidades*/
.img-skills{
  width: 35%;
}
/*proyecto*/
.proyecto{
  /*background-image: url("../assets/img/anchor-lee-181406.jpg");*/
  padding-top: 5%;
  padding-bottom: 8%;
}
.proyecto-imagen{
  width: 90%;
}
.titulo_margin{
  margin-bottom: 5%;
}
/*contacto*/
.contacto{
  background-color: rgba(54, 76, 162, .9);
  color: #fff;
  padding: 3%;
  font-family:font-family: 'Catamaran', sans-serif;
  font-size: 3vh;
}
.contacto-titulo{
  font-size: 4.5vh;
  font-weight: bold;
}
.contacto a{
  color: #fff;
  cursor: pointer;
}
.contacto .redes{
  font-size: 7vh;
  margin: 0 2%;
}

/*footer*/
.footer-fondo{
  background-color: #364CA2;
  color: #fff;
  padding: 1%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  body {
  position: relative;
}
  .nombre{
      font-size: 17rem;
      margin-top: 12%;
  }
  .devp{
    font-size: 7rem;
    margin-top: 0;
  }
  .portada{
    margin: 0;
  }
/*acerca de mi*/
  .acerca{
    height: 100vh;
    padding: 7%;
    margin: 0;
  }
  .foto{
    width: 70%;
  }
  .texto{
    margin-top: 12%;
  }
  /*portafolio*/

  /*contacto*/
}
