@import url('https://fonts.googleapis.com/css?family=Sacramento|Josefin+Slab|Raleway|Libre+Baskerville');

.secciones{
   padding-top: 70px;
 }
.fa{
  margin-right: 2%
}
.fondo{
  background-size: cover;
  background-position: center;
}
.portada{
  background-image: url("../assets/img/azul-amarillo.jpg");
  background-attachment: fixed;
  height: 100vh;
}
.nombre{
  font-family: 'Sacramento', cursive;
  font-size: 17vh;
  margin-top: 17vh;
  color: #0F1E36;
  font-weight: bold;
}
.devp{
  font-family: 'Josefin Slab', serif;
  font-size: 6vh;
  color: #0485A3;
  font-weight: bold;
}
/*acerca de mi*/
.acerca{
  background-image: url("../assets/img/amarillo.jpeg");
  background-size: cover;
  background-position: top;
  padding: 20% 0;
}
.titulo-azul{
  color: #0485A3;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 8vh;
}
.foto{
  border-radius: 50%;
  filter: grayscale(45%);
  width: 50%;
  margin: 6% 0;
}
.texto{
  font-family: 'Raleway', sans-serif;
  font-size: 3vh;
  color: #0485A3;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .nombre{
      font-size: 17rem;
      margin-top: 12%;
  }
  .devp{
    font-size: 7rem;
    margin-top: 0;
  }
  .portada{
    margin: 0;
  }
/*acerca de mi*/
  .acerca{
    height: 100vh;
    padding: 7%;
    margin: 0;
  }
  .foto{
    width: 70%;
  }
  .texto{
    margin-top: 12%;
  }
}
